# default
redis
types-redis
uvicorn 
pytest
httpx
python-jose
python-dotenv

# env
pydantic-settings

# uvicorn
multiprocess

# Fastapi
fastapi
python-socketio

# database
sqlmodel
sqlalchemy
mysql-connector-python

alembic

# logger
loguru

# AWS
boto3

# llm
langchain
langchain_community
langchain_openai
llama-cpp-python

openai