# default
redis
types-redis
uvicorn 
pytest
httpx
python-jose
python-dotenv

# env
pydantic-settings

# uvicorn
multiprocess

# Fastapi
fastapi
python-socketio

# database
sqlmodel
sqlalchemy
mysql-connector-python
pymysql

alembic

# logger
loguru

# AWS
boto3

# llm
langchain
langchain_community
langchain_openai
llama-cpp-python
langchain_aws
langchain_core

openai
tiktoken
tokencost

# chat
langchain-openai

# Vector store
faiss-cpu

#Document Loader
pypdf
pandas
docx2txt
openpyxl

# Datadog
ddtrace

# Google
google-auth
google-auth-oauthlib
google-auth-httplib2
requests